<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="header">
            <h1>ConnexUs</h1>
            <p>Log In</p>
            <p>Sign Up</p>
            <p>AI</p>
            <p>Chat</p>
            <p>Friends</p>
            <p>Preferences</p>
        </div>
        <div class="About">
            <h1>Who we are</h1>
            <p>
                The main mission of ConnexUs is to help people connect. We strive to eliminate language barriers by providing a platform where people can connect with someone sp
                speaking a language that they are trying to learn.
            </p>
            <p>
                In order to use ConnexUs, proceed to the chat page. There, you will enter your preferences including what language you are trying to learn. From there,
                you wil be connected with someone. After that, start chatting!
            </p>
        </div>
    </body>
</html>