{% extends "base.html" %}

{% block title %}Login{% endblock %}

{%block content%}
    <div class="header">
        <h1>ConnexUs</h1>
        <p>Home</p>
        <p>Sign Up</p>
        <p>AI</p>
        <p>Chat</p>
        <p>Friends</p>
        <p>Preferences</p>
    </div>
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>

        <button type="submit" value = "login">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}