@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 194 67% 94%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 71% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 50% 90%;
    --secondary-foreground: 197 71% 32%;
    --muted: 197 50% 94%;
    --muted-foreground: 224 71% 25%;
    --accent: 51 98% 60%;
    --accent-foreground: 51 98% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 20% 85%;
    --input: 0 0% 100%;
    --ring: 197 71% 52%;
    --radius: 0.5rem;

    --chart-1: 197 71% 52%;
    --chart-2: 51 98% 60%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 197 71% 72%;
    --chart-5: 51 98% 80%;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 0 0% 98%;
    --card: 220 13% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 71% 52%;
    --primary-foreground: 220 13% 5%;
    --secondary: 220 13% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 51 98% 60%;
    --accent-foreground: 48 96% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 197 71% 52%;

    --chart-1: 197 71% 52%;
    --chart-2: 51 98% 60%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 197 71% 72%;
    --chart-5: 51 98% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
