<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexus</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
    <main>

        <section id="room-name-wrapper">
            <p>Room Name: <span id="room-name"></span></p>
        </section>

        <section id="video-streams">
            <div class="video-container" id="user-container-1">
                <div class="username-wrapper"><span class="user-name"></span></div>
                <div class="video-player" id="user-1"></div>
            </div>
            <div class="video-container" id="user-container-2">
                <div class="username-wrapper"><span class="user-name"></span></div>
                <div class="video-player" id="user-2"></div>
            </div>
        </section>

        <section id="controls-wrapper">

            <div class="icon-wrapper">
                <img class="control-icon" id="mic-btn" src="/static/assets/microphone.svg" />
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="camera-btn" src="/static/assets/video.svg" />
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="leave-btn" src="/static/assets/leave.svg" />
            </div>

        </section>

    </main>

<script type="text/javascript" src="/static/assets/agora-rtm-sdk-1.5.1.js"></script>
<script type="text/javascript" src="/static/assets/main.js"></script>
</body>
</html>